<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <input type="text" placeholder="email" ng-model="email"/>
        <input type="password" placeholder="password" ng-model="password"/>
        <input type="text" placeholder="rol id" ng-model="uroleId"/>
        <button ng-click="createUser()">Crear</button>
    </div>
</div>