<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <input type="text" placeholder="description" ng-model="description"/>
        <input type="text" placeholder="VIEWER OR ADMINISTRATOR" ng-model="type"/>
        <button ng-click="createRole()">Crear</button>
    </div>
</div>