<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <button ng-click="getRoles()">Ver Roles creados</button>
        <fieldset data-ng-repeat="rol in roles.roleBeanList">
            <label>Id</label>
            <input width="250" type="text" readonly="readonly" value="{{rol.id}}" ng-model="rol.id"/>
            <label>Descripcion</label>
            <input width="250" type="text" value="{{rol.description}}" ng-model="rol.description"/>
            <label>Type</label>
            <input width="250" type="text" value="{{rol.type}}" ng-model="rol.type"/>
            <button ng-click="editRole(rol.id, rol.description, rol.type)">Editar</button><br><br>
        </fieldset>
    </div>
</div>