<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <button ng-click="getUsers()">Ver Usuarios creados</button>
        <fieldset data-ng-repeat="user in users.userBeanList">
            <label hidden="hidden">Id</label>
            <input hidden="hidden" type="text" readonly="readonly" value="{{user.id}}" ng-model="user.id"/>
            <label>Email</label>
            <input type="text" value="{{user.email}}" ng-model="user.email"/>
            <label>Password</label>
            <input type="text" value="{{user.password}}" ng-model="user.password"/>
            <label>Role Id</label>
            <input type="text" value="{{user.roleId}}" ng-model="user.roleId"/>
            <button ng-click="editUser(user.id, user.email, user.password, user.roleId)">Editar</button><br><br>
        </fieldset>
    </div>
</div>