<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <input type="text" placeholder="email" ng-model="emailAuth"/>
        <input type="password" placeholder="password" ng-model="passwordAuth"/>
        <button ng-click="auth(emailAuth, passwordAuth)">Crear</button>
    </div>
</div>