<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
      <button ng-click="getRoles()">Ver Roles creados</button>
      <fieldset data-ng-repeat="rol in roles.roleBeanList">
       <label>Id</label>
       <input width="250" type="text" readonly="readonly" value="{{rol.id}}"/>
       <label>Descripcion</label>
       <input width="250" type="text" readonly="readonly" value="{{rol.description}}"/>
       <label>Type</label>
       <input width="250" type="text" readonly="readonly" value="{{rol.type}}"/>
       <button ng-click="deleteRole(rol.id)">Eliminar</button><br><br>
      </fieldset>
    </div>
</div>