<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <button ng-click="getUsers()">Ver Usuarios creados</button>
        <fieldset data-ng-repeat="user in users.userBeanList">
            <label>Id</label>
            <input width="250" type="text" readonly="readonly" value="{{user.id}}"/>
            <label>Email</label>
            <input width="250" type="text" readonly="readonly" value="{{user.email}}"/>
            <label>Password</label>
            <input width="250" type="text" readonly="readonly" value="{{user.password}}"/>
            <label>RoleId</label>
            <input width="250" type="text" readonly="readonly" value="{{user.roleId}}"/>
            <button ng-click="deleteUser(user.id)">Eliminar</button><br><br>
        </fieldset>
    </div>
</div>